._592_{-webkit-user-select:none;vertical-align:text-top}
.sp_fIyRdd9tLjC_1_5x{background-image:url(/rsrc.php/v3/yS/r/PKbDEq8Yjgm.png);background-size:22px 40px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_fIyRdd9tLjC_1_5x.sx_6f15ec{background-position:0 0}.sp_fIyRdd9tLjC_1_5x.sx_15fff4{width:16px;height:16px;background-position:0 -22px}

#bootloader_YfMss{height:42px;}.bootloader_YfMss{display:block!important;}