._308_{font-weight:bold}
._7psf{display:flex;flex-direction:column;justify-content:flex-start;overflow:hidden;padding:12px;position:relative}._7psg{color:#606770;font-size:13px;font-weight:600;line-height:13px;padding-bottom:4px}._7psh{padding-bottom:12px}

#bootloader_w_QOR{height:42px;}.bootloader_w_QOR{display:block!important;}